.productItem {
  width: clamp(168px, 12.39vw + 121.54px, 300px);

  box-sizing: border-box;
  flex-shrink: 0;
  margin-right: 2px;
  margin-top: 20px;
  padding: 0px 15px 10px 15px;
  border-radius: 6px;
}

.productItem:hover {
  box-shadow: 0px 0px 5px rgb(117, 116, 116);
}

.productImage {
  width: 100%;
  height: 224px;
  object-fit: contain;
  flex-shrink: 0;
}

.productTitle {
  width: 130px;
  font-family: Simplon Norm;
  font-weight: 700;
  font-style: Bold;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0px;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleFavouriteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favouriteIcon {
  height: clamp(16px, 0.75vw + 13.18px, 24px);
  width: clamp(16px, 0.75vw + 13.18px, 24px);
}

.productDescription {
  font-family: Simplon Norm;
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0px;
  color: #888792;
}

.productDescSpan {
  text-decoration: underline;
}

@media screen and (min-width: 1400px) {
  .productItem {
    width: 300px;
  }
}

.productList {
  list-style: none;
  padding: 0;
}

.productItem {
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
  max-width: 250px;
}

.productImage {
  width: 100%;
  height: auto;
}

.titleFavouriteContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.productTitle {
  font-size: 18px;
  margin: 0;
}

.favouriteButton {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.favouriteIcon {
  font-size: 22px;
  color: #292d32;
  transition: color 0.2s;
}

.favouriteIcon.active {
  color: red;
  border: none;
  background-color: transparent;
}

.productDescription {
  font-size: 14px;
}
