.navbar {
  height: 55px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  padding: 0px 16px 0px 16px;
  border-bottom: 1px solid #e0e0e0;
  margin-top: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.website-logo-style {
  height: clamp(19.89px, 1.48vw + 14.34px, 35.66px);
  width: clamp(19.91px, 1.47vw + 14.4px, 35.61px);
}

.logoText {
  font-family: "Inter";
  font-weight: 800;
  font-size: clamp(20px, 1.5vw + 14.37px, 36px);
  line-height: 1;
  letter-spacing: 1px;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.icon {
  height: 20px;
  width: 20px;
}

.navbarIconsGroup {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.navbarLogoMenuContainer {
  min-width: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinkAdditional {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
}

.hideForSmall {
  display: none;
}

.linkItem {
  font-size: clamp(0px, 2vw, 20px);
}

@media screen and (min-width: 768px) {
  .icons-size {
    display: none;
  }
  .navbar {
    height: auto;
    position: static;
  }
  .navLinkAdditional {
    display: flex;
    align-items: center;
    align-self: center;
    gap: 20px;
    padding: 20px;
  }

  /*.linkItem {
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease;
  }

  .linkItem:hover {
    border-bottom: 2px solid #252020;
  } */

  .languageChange {
    border: none;
  }
  .hideForSmall {
    display: flex;
  }

  .linkItem {
    position: relative;
    display: inline-block;
    font-family: "Simplon Norm";
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 1px;
    color: #252020;
    cursor: pointer;
    transition: color 0.3s ease;
    text-decoration: none;
    border: none;
  }

  .linkItem::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #252020;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.5s ease-in-out;
  }

  .linkItem:hover::after {
    transform: scaleX(1);
  }

  .linkItem:hover {
    color: #000;
  }
}
