.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ccc;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 100;
}

.totalFIlterBox {
  padding: 0 10px;
}

.checkbox {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.checkbox-space {
  margin-right: 10px;
}

.checkboxStyle {
  display: flex;
  align-items: center;
  margin-left: 10px;
  gap: 5px;
}

.filtersub {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px 0;
}

.headandoption h1 {
  font-size: 20px;
}

@media (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 999;
    background-color: white;
    transition: transform 0.3s ease-in-out;
  }
}
